.sidebody
  .side
    .side__bar
      = link_to user_path(current_user) do
        .side__bar__title
          %p= "マイページ"
      = link_to new_diary_path do
        .side__bar__title
          %p= "投稿"
    .side__content
      .side__bar__list
        %p= "天気予報"
      %h3.weather-text
        = render "weather"